<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.BlockDao">
    <resultMap id="blockMap" type="com.example.foodtrace.entity.Organization">
        <id column="Name" property="Name"/>
        <result column="transactions" property="transactions"/>
    </resultMap>

    <select id="getTxByOrg" resultMap="blockMap">
        select *
        from OrgTable
    </select>

    <update id="updateTxByOrg">
        update OrgTable
        set transactions = transactions + 1
        where Name = 'org0-foodtrace-com'
    </update>
</mapper>