<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.CollectDao">
    <insert id="addCreateInfo">
        insert
        ignore into CollectInfo(CollectID, Type, Name, GermplasmName, GermplasmNameEn
            , SectionName, GenericName, ScientificName, ResourceType, CollectMethod, GermplasmSource
            , SourceCountry, SourceProvince, Source, SourceOrg, OriginCountry, OriginPlace
            , CollectPlaceLongitude, CollectPlaceLatitude, CollectPlaceAltitude, CollectPlaceSoilType
            , CollectPlaceEcologyType, CollectMaterialType, CollectPeople, CollectUnit
            , CollectTime, SpeciesName, Image, CollectRemark)
            VALUES (
        #{CollectID},
        #{Type},
        #{Name},
        #{GermplasmName},
        #{GermplasmNameEn},
        #{SectionName},
        #{GenericName},
        #{ScientificName},
        #{ResourceType},
        #{CollectMethod},
        #{GermplasmSource},
        #{SourceCountry},
        #{SourceProvince},
        #{Source},
        #{SourceOrg},
        #{OriginCountry},
        #{OriginPlace},
        #{CollectPlaceLongitude},
        #{CollectPlaceLatitude},
        #{CollectPlaceAltitude},
        #{CollectPlaceSoilType},
        #{CollectPlaceEcologyType},
        #{CollectMaterialType},
        #{CollectPeople},
        #{CollectUnit},
        #{CollectTime},
        #{SpeciesName},
        #{Image},
        #{CollectRemark}
        )
    </insert>

    <delete id="deleteCollectInfo">
        delete
        from CollectInfo
        where CollectID = #{fruitInfoID}
    </delete>

    <update id="modifyCollectInfo">
        update CollectInfo
        set GermplasmName           = #{collectInfo.GermplasmName},
            GermplasmNameEn         = #{collectInfo.GermplasmNameEn},
            SectionName             = #{collectInfo.SectionName},
            GenericName             = #{collectInfo.GenericName},
            ScientificName          = #{collectInfo.ScientificName},
            ResourceType            = #{collectInfo.ResourceType},
            GermplasmSource         = #{collectInfo.GermplasmSource},
            SourceCountry           = #{collectInfo.SourceCountry},
            SourceProvince          = #{collectInfo.SourceProvince},
            Source                  = #{collectInfo.Source},
            SourceOrg               = #{collectInfo.SourceOrg},
            OriginCountry           = #{collectInfo.OriginCountry},
            OriginPlace             = #{collectInfo.OriginPlace},
            CollectPlaceLongitude   = #{collectInfo.CollectPlaceLongitude},
            CollectPlaceLatitude    = #{collectInfo.CollectPlaceLatitude},
            CollectPlaceAltitude    = #{collectInfo.CollectPlaceAltitude},
            CollectPlaceSoilType    = #{collectInfo.CollectPlaceSoilType},
            CollectPlaceEcologyType = #{collectInfo.CollectPlaceEcologyType},
            CollectMaterialType     = #{collectInfo.CollectMaterialType},
            CollectPeople           = #{collectInfo.CollectPeople},
            CollectUnit             = #{collectInfo.CollectUnit},
            CollectTime             = #{collectInfo.CollectTime},
            SpeciesName             = #{collectInfo.SpeciesName},
            Image                   = #{collectInfo.Image},
            CollectRemark           = #{collectInfo.CollectRemark}
        where CollectID = #{collectInfo.CollectID}
    </update>

    <resultMap id="collectMap" type="com.example.foodtrace.entity.CollectInfo">
        <id column="CollectID" property="CollectID"/>
        <result column="Type" property="Type"/>
        <result column="Name" property="Name"/>
        <result column="GermplasmName" property="GermplasmName"/>
        <result column="GermplasmNameEn" property="GermplasmNameEn"/>
        <result column="SectionName" property="SectionName"/>
        <result column="GenericName" property="GenericName"/>
        <result column="ScientificName" property="ScientificName"/>
        <result column="ResourceType" property="ResourceType"/>
        <result column="CollectMethod" property="CollectMethod"/>
        <result column="GermplasmSource" property="GermplasmSource"/>
        <result column="SourceCountry" property="SourceCountry"/>
        <result column="SourceProvince" property="SourceProvince"/>
        <result column="Source" property="Source"/>
        <result column="SourceOrg" property="SourceOrg"/>
        <result column="OriginCountry" property="OriginCountry"/>
        <result column="OriginPlace" property="OriginPlace"/>
        <result column="CollectPlaceLongitude" property="CollectPlaceLongitude"/>
        <result column="CollectPlaceLatitude" property="CollectPlaceLatitude"/>
        <result column="CollectPlaceAltitude" property="CollectPlaceAltitude"/>
        <result column="CollectPlaceSoilType" property="CollectPlaceSoilType"/>
        <result column="CollectPlaceEcologyType" property="CollectPlaceEcologyType"/>
        <result column="CollectMaterialType" property="CollectMaterialType"/>
        <result column="CollectPeople" property="CollectPeople"/>
        <result column="CollectUnit" property="CollectUnit"/>
        <result column="CollectTime" property="CollectTime"/>
        <result column="SpeciesName" property="SpeciesName"/>
        <result column="Image" property="Image"/>
        <result column="CollectRemark" property="CollectRemark"/>
        <result column="IsLoaded" property="IsLoaded"/>
        <result column="IsContradict" property="IsContradict"/>
        <result column="IsCertified" property="IsCertified"/>

        <result column="Status" property="Status"/>

    </resultMap>

    <select id="queryCollectInfo" resultMap="collectMap">
        select *
        from CollectInfo
        where CollectID = #{fruitInfoID}
    </select>

    <select id="queryInfosByPage" resultMap="collectMap">
        select a.*,
               b.IsLoaded,
               b.IsContradict,
               b.Status,
               b.IsCertified
        FROM CollectInfo as a,
             FruitInfo as b
        where a.CollectID = b.ID
        ORDER BY field(Status,3,2,1,0) , field(IsLoaded, 1, 0), field(IsContradict, 0, 1)
            limit
                 #{pageNum}, #{pageIdx}
    </select>

    <select id="queryDocumentedInfosByPage" resultMap="collectMap">
        select *
        from CollectInfo
        where CollectID in (select ID
                            from FruitInfo
                            where IsLoaded = 1)
            limit #{pageNum}
            , #{pageIdx}
    </select>

    <select id="queryCollectInfosByPage" resultMap="collectMap">
        select a.*,
               b.IsLoaded,
               b.IsContradict,
               b.Status,
               b.IsCertified

        FROM CollectInfo as a,
             FruitInfo as b
        where a.CollectID = b.ID
        ORDER BY field(Status, 0, 1, 2, 3), field(IsContradict, 0, 1), field(IsLoaded, 0, 1)
            limit #{pageNum}, #{pageIdx}
    </select>

    <select id="collectCount" resultType="int">
        select COUNT(*)
        from CollectInfo
    </select>

</mapper>