<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.EnterDao">
    <insert id="addEnterInfo">
        insert
        ignore into EnterInfo(EnterID, Certifier, CertifyOrg, CertifyPlace, CertifyYear
            , OperationRange, EnterRemark)
            VALUES (
        #{enterInfo.EnterID},
        #{enterInfo.Certifier},
        #{enterInfo.CertifyOrg},
        #{enterInfo.CertifyPlace},
        #{enterInfo.CertifyYear},
        #{enterInfo.OperationRange},
        #{enterInfo.EnterRemark}
        )
    </insert>

    <delete id="deleteEnterInfo">
        delete from EnterInfo where EnterID = #{fruitInfoID}
    </delete>

    <update id="modifyEnterInfo">
        update EnterInfo
        set Certifier      = #{enterInfo.Certifier},
            CertifyOrg     = #{enterInfo.CertifyOrg},
            CertifyPlace   = #{enterInfo.CertifyPlace},
            CertifyYear    = #{enterInfo.EnterYear},
            OperationRange = #{enterInfo.OperationRange},
            EnterRemark    = #{enterInfo.EnterRemark}
        where EnterID = #{enterInfo.EnterID}
    </update>

    <resultMap id="enterMap" type="com.example.foodtrace.entity.EnterInfo">
        <id column="EnterID" property="EnterID"/>
        <result column="Certifier" property="Certifier"/>
        <result column="CertifyOrg" property="CertifyOrg"/>
        <result column="CertifyPlace" property="CertifyPlace"/>
        <result column="CertifyYear" property="CertifyYear"/>
        <result column="OperationRange" property="OperationRange"/>
        <result column="EnterRemark" property="EnterRemark"/>
    </resultMap>

    <select id="queryEnterInfo" resultMap="enterMap">
        select Certifier, CertifyOrg, CertifyPlace, CertifyYear, OperationRange, EnterRemark
        from EnterInfo
        where EnterID = #{fruitInfoID}
    </select>
</mapper>