<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.EnterDao">
    <insert id="addEnterInfo">
        insert
        ignore into EnterInfo(EnterID, Certifier, CertifyOrg, CertifyPlace, CertifyYear
            , OperationRange, EnterRemark)
            VALUES (
        #{enterInfo.EnterID},
        #{enterInfo.Certifier},
        #{enterInfo.CertifyOrg},
        #{enterInfo.CertifyPlace},
        #{enterInfo.CertifyYear},
        #{enterInfo.OperationRange},
        #{enterInfo.EnterRemark}
        )
    </insert>

    <delete id="deleteEnterInfo">
        delete from EnterInfo where EnterID = #{fruitInfoID}
    </delete>

    <update id="modifyEnterInfo">
        update EnterInfo
        set Certifier      = #{enterInfo.Certifier},
            CertifyOrg     = #{enterInfo.CertifyOrg},
            CertifyPlace   = #{enterInfo.CertifyPlace},
            CertifyYear    = #{enterInfo.EnterYear},
            OperationRange = #{enterInfo.OperationRange},
            EnterRemark    = #{enterInfo.EnterRemark}
        where EnterID = #{enterInfo.EnterID}
    </update>

    <resultMap id="enterMap" type="com.example.foodtrace.entity.EnterInfo">
        <id column="EnterID" property="EnterID"/>
        <result column="Type" property="Type"/>
        <result column="Name" property="Name"/>
        <result column="Certifier" property="Certifier"/>
        <result column="CertifyOrg" property="CertifyOrg"/>
        <result column="CertifyPlace" property="CertifyPlace"/>
        <result column="CertifyYear" property="CertifyYear"/>
        <result column="OperationRange" property="OperationRange"/>
        <result column="EnterRemark" property="EnterRemark"/>
        <result column="IsLoaded" property="IsLoaded"/>
        <result column="IsContradict" property="IsContradict"/>
        <result column="IsCertified" property="IsCertified"/>

        <result column="Status" property="Status"/>
    </resultMap>

    <select id="queryEnterInfo" resultMap="enterMap">
        select a.*,
               b.Type,
               b.Name,
               b.Status,
               b.IsContradict,
               b.IsLoaded,
               b.IsCertified

        from EnterInfo as a,
             FruitInfo as b
        where EnterID = #{fruitInfoID} &amp;&amp; a.EnterID = b.ID
    </select>

    <select id="queryEnterInfosByPage" resultMap="enterMap">
        select a.*,
               b.Type,
               b.Name,
               b.Status,
               b.IsContradict,
               b.IsLoaded,
               b.IsCertified

        FROM EnterInfo as a,
             FruitInfo as b
        where a.EnterID = b.ID
        ORDER BY field(Status, 0, 1, 2, 3), field(IsContradict, 0, 1), field(IsLoaded, 0, 1)
            limit #{pageNum}, #{pageIdx}
    </select>

    <select id="enterCount" resultType="int">
        select COUNT(*)
        from EnterInfo
    </select>
</mapper>