<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.FruitInfoDao">
    <insert id="createFruitInfo">
        insert ignore into FruitInfo(ID, Status, IsContradict, Isdeleted, IsLoaded) VALUES (#{fruitInfoID}, 0,0,0,0)
    </insert>
</mapper>