<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.SaveDao">
    <insert id="addSaveInfo">
        insert
        ignore into SaveInfo(SaveID, MainPreference, MainUse, PreservationFacility, GermplasmType
            , SaveQuantity, MeasuringUnit, SaveUnit, SaveVault, SavePlace, WarehousingYear, SaveProperty
            , ResourceDescription, ResourceRemark, GermplasmImage)
            VALUES (
        #{saveInfo.SaveID},
        #{saveInfo.MainPreference},
        #{saveInfo.MainUse},
        #{saveInfo.PreservationFacility},
        #{saveInfo.GermplasmType},
        #{saveInfo.SaveQuantity},
        #{saveInfo.MeasuringUnit},
        #{saveInfo.SaveUnit},
        #{saveInfo.SaveVault},
        #{saveInfo.SavePlace},
        #{saveInfo.WarehousingYear},
        #{saveInfo.SaveProperty},
        #{saveInfo.ResourceDescription},
        #{saveInfo.ResourceRemark},
        #{saveInfo.GermplasmImage}
        )
    </insert>

    <delete id="deleteSaveInfo">
        delete from SaveInfo where SaveID = #{fruitInfoID}
    </delete>

    <update id="modifySaveInfo">
        update SaveInfo
        set MainPreference = #{saveInfo.MainPreference},
            MainUse = #{saveInfo.MainUse},
            PreservationFacility = #{saveInfo.PreservationFacility},
            GermplasmType = #{saveInfo.GermplasmType},
            SaveQuantity = #{saveInfo.SaveQuantity},
            MeasuringUnit = #{saveInfo.MeasuringUnit},
            SaveUnit = #{saveInfo.SaveUnit},
            SaveVault = #{saveInfo.SaveVault},
            SavePlace = #{saveInfo.SavePlace},
            WarehousingYear = #{saveInfo.SaveYear},
            SaveProperty = #{saveInfo.SaveProperty},
            ResourceDescription = #{saveInfo.ResourceDescription},
            ResourceRemark = #{saveInfo.ResourceRemark},
            GermplasmImage = #{saveInfo.GermplasmImage}
        where SaveID = #{saveInfo.SaveID}
    </update>

    <resultMap id="saveMap" type="com.example.foodtrace.entity.SaveInfo">
        <id column="SaveID" property="SaveID"/>
        <result column="MainPreference" property="MainPreference"/>
        <result column="MainUse" property="MainUse"/>
        <result column="PreservationFacility" property="PreservationFacility"/>
        <result column="GermplasmType" property="GermplasmType"/>
        <result column="SaveQuantity" property="SaveQuantity"/>
        <result column="MeasuringUnit" property="MeasuringUnit"/>
        <result column="SaveUnit" property="SaveUnit"/>
        <result column="SaveVault" property="SaveVault"/>
        <result column="SavePlace" property="SavePlace"/>
        <result column="WarehousingYear" property="WarehousingYear"/>
        <result column="SaveProperty" property="SaveProperty"/>
        <result column="ResourceDescription" property="ResourceDescription"/>
        <result column="ResourceRemark" property="ResourceRemark"/>
        <result column="GermplasmImage" property="GermplasmImage"/>
    </resultMap>

    <select id="querySaveInfo" resultMap="saveMap">
        select MainPreference
             , MainUse
             , PreservationFacility
             , GermplasmType
             , SaveQuantity
             , MeasuringUnit
             , SaveUnit
             , SaveVault
             , SavePlace
             , WarehousingYear
             , SaveProperty
             , ResourceDescription
             , ResourceRemark
             , GermplasmImage
        from SaveInfo
        where SaveID = #{fruitInfoID}
    </select>

    <select id="querySaveInfosByPage" resultMap="saveMap">
        select MainPreference
             , MainUse
             , PreservationFacility
             , GermplasmType
             , SaveQuantity
             , MeasuringUnit
             , SaveUnit
             , SaveVault
             , SavePlace
             , WarehousingYear
             , SaveProperty
             , ResourceDescription
             , ResourceRemark
             , GermplasmImage
        from SaveInfo limit #{pageNum}, 10
    </select>
</mapper>