<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.ShareDao">
    <insert id="addShareInfo">
        insert
        ignore into ShareInfo(ShareID, ShareObj, ContactInfo, ShareMode, ShareUse, ShareNum
            , ShareBeginTime, ShareEndTime)
            VALUES (
        #{shareInfo.ShareID},
        #{shareInfo.ShareObj},
        #{shareInfo.ContactInfo},
        #{shareInfo.ShareMode},
        #{shareInfo.ShareUse},
        #{shareInfo.ShareNum},
        #{shareInfo.ShareBeginTime},
        #{shareInfo.ShareEndTime}
        )
    </insert>
</mapper>