<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodtrace.dao.ShareDao">
    <insert id="addShareInfo">
        insert
        ignore into ShareInfo(ShareID, ShareObj, ContactInfo, ShareMode, ShareUse, ShareNum
            , ShareBeginTime, ShareEndTime)
            VALUES (
        #{shareInfo.ShareID},
        #{shareInfo.ShareObj},
        #{shareInfo.ContactInfo},
        #{shareInfo.ShareMode},
        #{shareInfo.ShareUse},
        #{shareInfo.ShareNum},
        #{shareInfo.ShareBeginTime},
        #{shareInfo.ShareEndTime}
        )
    </insert>

    <delete id="deleteShareInfo">
        delete
        from ShareInfo
        where ShareID = #{fruitInfoID}
    </delete>

    <update id="modifyShareInfo">
        update ShareInfo
        set ShareObj       = #{shareInfo.ShareObj},
            ContactInfo    = #{shareInfo.ContactInfo},
            ShareMode      = #{shareInfo.ShareMode},
            ShareUse       = #{shareInfo.ShareUse},
            ShareNum       = #{shareInfo.ShareNum},
            ShareBeginTime = #{shareInfo.ShareBeginTime},
            ShareEndTime   = #{shareInfo.ShareEndTime}
        where ShareID = #{shareInfo.ShareID}
    </update>

    <resultMap id="shareMap" type="com.example.foodtrace.entity.ShareInfo">
        <id column="ShareID" property="ShareID"/>
        <result column="ShareObj" property="ShareObj"/>
        <result column="ContactInfo" property="ContactInfo"/>
        <result column="ShareMode" property="ShareMode"/>
        <result column="ShareUse" property="ShareUse"/>
        <result column="ShareNum" property="ShareNum"/>
        <result column="ShareBeginTime" property="ShareBeginTime"/>
        <result column="ShareEndTime" property="ShareEndTime"/>
    </resultMap>

    <select id="queryShareInfo" resultMap="shareMap">
        select ShareID, ShareObj, ContactInfo, ShareMode, ShareUse, ShareNum , ShareBeginTime, ShareEndTime
        from ShareInfo
        where ShareID = #{fruitInfoID}
    </select>

    <select id="queryShareInfosByPage" resultMap="shareMap">
        select ShareID,
               ShareObj,
               ContactInfo,
               ShareMode,
               ShareUse,
               ShareNum,
               ShareBeginTime,
               ShareEndTime
        from ShareInfo limit #{pageNum}, 10
    </select>
</mapper>